.DS_Store
**/.DS_Store

tools

**/*.tst
**/*.cmp
**/*.out
**/*.hack

projects/06/**/*.asm

projects/07/StackArithmetic
projects/07/MemoryAccess

projects/08
projects/09
projects/10
projects/11
projects/12
projects/13
